*
!index.html
!README.md
!LICENSE
!.gitignore
!worker.js
!worker/
!worker/wrangler.jsonc
!worker/package.json
!worker/package-lock.json
!worker/worker-configuration.d.ts
!worker/src/
!worker/src/index.js
!worker/README.md
!scripts/
!scripts/**
!.github/
!.github/**
!test/
!test/**

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
