*
!index.html
!README.md
!LICENSE
!.gitignore
!worker.js
!worker/
!worker/wrangler.toml
!worker/src/
!worker/src/index.js
!worker/README.md

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
